html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../src/assets/images/background80.jpg) no-repeat center center fixed,
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	margin: 0;
	/* font-family: 'Sacramento', cursive, monospace; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
	color: #424042;
	font-family: 'Sacramento', cursive, monospace;
	font-weight: 500;
	size: 20px;
}
p {
	color: #424042;
	/* font-family: 'Sacramento', cursive, monospace; */
	font-weight: 500;
	size: 20px;
}

#signup .MuiTypography-h5 {
	color: #e9e9e9;
}

#results {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	size: 30px;
	text-align: center;
	margin: 3rem;
}

#headline {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	size: 30px;
	text-align: center;
	margin: 3rem;
}

#signin .MuiTypography-h5 {
	color: #e9e9e9;
}

.details h1 h2 p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	size: 20px;
	color: 'white' !important;
}

.MuiPaper-root.MuiGrid-root {
	background: #1e0253;
}

.MuiOutlinedInput-input.MuiInputBase-input {
	background: #e9e9e9;
}

.MuiButton-root.WithStyles\(ForwardRef\(Button\)\)-root-6 {
	display: flex;
	margin-left: auto;
	margin-right: 7rem;
	padding-right: 0.25;
	padding-left: auto;
	margin-bottom: 3em;
	margin-top: 3em;
}

.mat-tooltip {
	font-size: 20px !important;
}
img {
	cursor: pointer;
}

#accessHeadline {
	color: lightcoral;
	text-align: center;
	font-size: 5em;
}

#accessTagline {
	color: lightcoral;
	text-align: center;
	font-size: 3em;
}

#logo {
	-webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
	-moz-transform: scale(0.5); /* FF3.5+ */
	-ms-transform: scale(0.5); /* IE9 */
	-o-transform: scale(0.5); /* Opera 10.5+ */
	transform: scale(0.5);
	/* IE6–IE9 */
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}
​ .MuiPaper-root {
	background: #1e0253;
}

code {
	font-family: 'Sacramento', cursive, monospace;
}

.card {
	color: blue;
}

.container {
	position: relative;
	margin-top: 5%;
	border-radius: 10px;
	max-width: 600px;
	padding: 50px;
	padding-top: 50px;
	/* background: #1e0253; */
	font-family: 'Montserrat', sans-serif;
}

.trails-main {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.trails-text {
	position: relative;
	width: 100%;
	height: 80px;
	line-height: 60px;
	color: lightcoral;
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase;
	will-change: transform, opacity;
	overflow: hidden;
}

.trails-text > div {
	overflow: hidden;
}
