html {
	background: #1e0253 no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin: 0;
	font-family: 'Sacramento', cursive, monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #1e0253 !important;
}

h1,
h2,
h3,
h4,
h5,
p {
	color: #424042;
	font-family: 'Sacramento', cursive, monospace;
	font-weight: 500;
	size: 20px;
}

.details {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	size: 20px;
}

.MuiPaper-root {
	background: #1e0253;
}
code {
	font-family: 'Sacramento', cursive, monospace;
}

.root {
	background: '#1e0253';
}

.container {
	position: relative;
	margin-top: 5%;
	border-radius: 10px;
	max-width: 600px;
	padding: 50px;
	padding-top: 50px;
	background: #1e0253;
}

.trails-main {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.trails-text {
	position: relative;
	width: 100%;
	height: 80px;
	line-height: 60px;
	color: lightcoral;
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase;
	will-change: transform, opacity;
	overflow: hidden;
}

.trails-text > div {
	overflow: hidden;
}
